@model IEnumerable<ONG.BL.Desaparecidos>

@{
    ViewBag.Title = "Desaparecidos";
}

<h2 class="text-center">Registro de Personas</h2>

<p>
    @Html.ActionLink("Agregar", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Categorias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Detalle", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>
